<!-- input: tag images array  -->
<% for(let i=tagData.length - 1; i >= 0; i--){ %>
<div class="post card my-3">
  <div class="card-body">
    <h2 class="tag-title"><%= tagData[i].tag %></h2>
    <p class="post-time">Posted on <%= tagData[i].date %></p>
    <% for(let j=0; j< tagData[i].images.length; j++){ %>
    <!-- Check image datatype -->
    <% if (tagData[i].images[j].type === "image") { %>
    <img
      src="<%=tagData[i].images[j].filename %> "
      alt="Post Image <%=j%>"
      class="img-fluid"
    />
    <% } %>
    <!-- Check video datatype -->
    <% if (imageData[i].images[j].type === "video") { %>
    <video
      src="<%=tagData[i].images[j].filename %>"
      autoplay="autoplay"
      loop="loop"
      muted="muted"
      alt="Post Video <%=j%>"
      class="img-fluid"
    ></video>
    <% } %> <% }%>
  </div>
  <div class="card-footer" style="text-align: right">
    <span>Photo <%=tagData[i].images.length%></span>
    <span>·</span>
    <span>View all ></span>
  </div>
</div>
<% }%>
