<div class="profile">
  <div class="imageContainer cover" id="coverPhoto">
    <img src="<%=babyData.cover%>" alt="Profile Cover" />

    <div class="upload-btn-wrapper">
      <button id="changeCoverBtn" class="btn btn-light btn-sm">Change Cover</button>
    </div>
  </div>
  <div
    class="imageContainer profile-pic"
    id="profilePic"
    style="background-color: orange"
    value="<%=babyData.id%>"
  >
    <img src="<%=babyData.headshot%>" alt="Profile Headshot" title="點擊更換大頭照"/>
  </div>
  <div class="upload-btn-wrapper" style="display: none;">
    <input type="file" id="profileInput" name="profile" accept="image/*" />
    <input type="file" id="coverInput" name="cover" accept="image/*" />
  </div>
  <div class="profile-info">
    <h4><%=babyData.name%></h4>
    <p><%=babyData.old%> | <%=babyData.followsCount%> family memebers</p>
  </div>
</div>



