<div class="centerPage userManager divHide">
  <div class="centerPageTitle">
    <h3>寶寶列表</h3>
  </div> 
  <div class="container mt-3">
    <div id="managesTitle">
      <h4>照護寶寶</h4>
      <button class="btn btn-sm btn-primary edit-btn">編輯</button>
    </div>
    <div id="manages" class="mb-4">
      <% for (let i=0 ; i< managerData.length; i++) { %>
        <div class="card mb-2" value="<%=managerData[i].babyId%>">
          <div class="card-header managesDiv">
            <img
              src="<%=managerData[i].babyHeadshot%>"
              alt="babyshot"
              style="
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 1rem;
              "
            />
            <span style="margin-right: auto;"><%=managerData[i].babyName%></span>
            <button class="btn btn-sm toggle-content"><i class="fa-solid fa-angle-down"></i></button>                   
            <button class="btn btn-sm delete-btn rmUserManager-btn" title="移除照護權"><i class="fa-solid fa-xmark"></i></button>                        
          </div>
          <div class="card-body manager-content" style="display: none;" value="<%=managerData[i].babyId%>">
            <div class="managerList">
              <h5>照護權限列表</h5>
              <div class="list-group-item assignManager" style="border: none;">
                <h5 style="display: flex;">寶寶親友：</h5>
                <select id="managerSelect" class="followsList" >
                  <!-- Add more product options here -->
                  <% managerData[i].otherFollows.forEach((follower) => { %>
                  <option value="<%=follower.userId%>"><%=follower.userName%></option>
                  <% }); %>
                </select>
                <button class="btn btn-sm btn-success addFamilyManager-btn">賦予照護權</button>
              </div>
              <ul class="list-group mb-1">
                <% managerData[i].otherManagers.forEach((manager) => { %>
                  <li class="list-group-item manager" value="<%=manager.userId%>"><%=manager.userName%><button class="btn btn-sm btn-danger rmFamilyManager-btn">移除照護權</button></li>
                <% }); %>
              </ul>
            </div>
            <hr>
            <form id="updateBabyForm" class="updateBabyForm" style="margin: 2rem 0;">
              <div id="babyTrainBox" class="">
                <h5>更新寶寶五官的正臉、側臉、上仰照片</h5>
                <div class="trainBox-row sampleBox">
                    <div class="sample">
                        <img src="/public/images/front.png" alt="front">
                    </div>
                    <div class="sample">
                        <img src="/public/images/side.png" alt="side">
                    </div>
                    <div class="sample">
                        <img src="/public/images/upward.png" alt="upward">
                    </div>
                </div>
                <br>
                <div class="trainUploadBox">
                    <div class="trainUpload">
                      <div class="input-group mb-3">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" class="inputBabyFront" name="babyFront">
                          <label class="custom-file-label" for="inputBabyFront" aria-describedby="inputGroupFileAddon02">Choose file</label>
                        </div>
                      </div>
                    </div>
                    <div class="trainUpload">
                      <div class="input-group mb-3">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" class="inputBabySide" name="babySide">
                          <label class="custom-file-label" for="inputBabySide" aria-describedby="inputGroupFileAddon02">Choose file</label>
                        </div>
                      </div>
                    </div>
                    <div class="trainUpload">
                      <div class="input-group mb-3">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" class="inputBabyUpward" name="babyUpward">
                          <label class="custom-file-label" for="inputBabyUpward" aria-describedby="inputGroupFileAddon02">Choose file</label>
                        </div>
                      </div>
                    </div>
                </div>                
              </div>
              <button type="submit" class="btn btn-primary" style="margin-left: auto;">更新照片</button>
            </form>
          </div>
        </div>
      <% } %>
      <% if (managerData.length === 0) { %>
        <h5 class="card" style="margin: auto; padding: 1.5rem 0.5rem; color: gray;">無任何照護寶寶</h5>
      <% } %>
    </div>
    <div id="followsTitle">
      <h4>追蹤寶寶</h4>
      <button class="btn btn-sm btn-primary edit-btn">編輯</button>
    </div>
    <div id="follows">
      <% for (let i=0 ; i< followsData.length; i++) { %>
      <div class="card mb-2" value="<%=followsData[i].babyId%>">
        <div class="card-header followsDiv" >
          <img
            src="<%=followsData[i].babyHeadshot%>"
            alt="babyshot"
            style="
              width: 40px;
              height: 40px;
              border-radius: 50%;
              margin-right: 1rem;
            "
          />        
          <span style="margin-right: auto;"><%=followsData[i].babyName%></span>
          <button class="btn btn-sm delete-btn unFollowBaby-btn" title="取消追蹤"><i class="fa-solid fa-xmark"></i></button>
        </div>
      </div>
      <% } %>
      <% if (followsData.length === 0) { %>
        <h5 class="card" style="margin: auto; padding: 1.5rem 0.5rem; color: gray;">無任何追蹤寶寶</h5>
      <% } %>
    </div>
  </div>
</div>