<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/head") %>
    <title>我的小小時光 | Timeline</title>
  </head>
  <body>
    <!------------ baby Nav ------------>
    <%- include ("partials/nav") %>
    <!-------- add/follow baby ------------>
    <div class="babyFollow <%=newFollow%>">
      <div class="home" >
        <div class="home-col3">
          <div class="message" style="margin-bottom: 1rem"></div>
          <div class="cancelFollow">
            <img id="cancelBtn" src="/public/images/cancel_icon.png" alt="cancel" >
          </div>
          <div class="fromGroup" style="background-color: white; opacity: 1; z-index: 2;">
            <div class="icon" style="padding: 0.75rem">
              <img
                src="/public/images/child-head.png"
                alt="baby"
                style="width: 60px; height: 60px"
              />
            </div>
            <hr style="width: 80%; margin: auto" />
            <!-- user new follow -->
            <%- include ("partials/userFirstFollow")%>
            <!-- user new baby -->
            <%- include ("partials/userNewBaby")%>
          </div>
        </div>
      </div>      
    </div>  
    <!-- main timeline board -->
    <div class="container-fluid">
      <div class="row h-100">
        <!-- baby followed list -->
        <%- include ("partials/babyList", { follows }) %>
        <div class="post-content">
          <% if (babyData) { %>
          <!-- babyProfile: babyCover, babyHeadshot, babyInfo -->
          <%- include ("partials/babyProfile", { babyData }) %>
          <!-- babyNav: Timeline, Diary, Tags, Health -->
          <%- include ("partials/babyNav") %>
          <% } %>

          <div class="posts" id="postsContainer">
            <%- include ("partials/babyImageBlock", { imageData }) %>
          </div>
          <div class="posts divHide" id="diaryContainer">
            <%- include ("partials/babyTextBlock", { textData }) %>
          </div>
          <div class="tags divHide" id="tagContainer">
            <%- include ("partials/babyTextBlock", { tagData }) %>
          </div>
          <div class="charts divHide" id="healthContainer" loaded="false">
            <%- include ("partials/babyHealthBlock") %>
          </div>
        </div>
        <%- include ("partials/babyAgeTree") %>
      </div>
    </div>
  </body>
</html>
