<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/head") %>
    <title>我的小小時光 | Timeline</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <!-- user add baby -->
    <%- include ("partials/userFirstFollow", { newFollow })%>
    <!-- main timeline board -->
    <div class="container-fluid">
      <div class="row h-100">
        <!-- baby followed list -->
        <%- include ("partials/babyList", { follows }) %>
        <div class="post-content">
          <!-- babyProfile: babyCover, babyHeadshot, babyInfo -->
          <%- include ("partials/babyProfile", { babyData }) %>
          <!-- babyNav: Timeline, Diary, Tags, Health -->
          <%- include ("partials/babyNav") %>

          <div class="posts" id="postsContainer">
            <%- include ("partials/babyImageBlock", { imageData }) %>
          </div>
          <div class="posts divHide" id="diaryContainer">
            <%- include ("partials/babyTextBlock", { textData }) %>
          </div>
          <div class="tags divHide" id="tagContainer">
            <%- include ("partials/babyTextBlock", { tagData }) %>
          </div>
          <div class="charts divHide" id="healthContainer" loaded="false">
            <%- include ("partials/babyHealthBlock") %>
          </div>
        </div>
        <%- include ("partials/babyAgeTree") %>
      </div>
    </div>
  </body>
</html>
